/* import fonts -- start */
@font-face {
    font-family: Vazir;
    src: url(../Font/Vazir-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url(../Font/Vazir.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url(../Font/Vazir-Thin.ttf) format("truetype");
    font-weight: lighter;
}

/* import fonts -- End */

* {
    font-family: Vazir;
    box-sizing: border-box !important;
}

body {
    /* padding-top: 50px; */
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

/* height: 2.75rem; */
/* overflow-y: hidden; */
.nav-scroller {
    position: relative;
    z-index: 2;
    margin-top: 30px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

nav {
    box-sizing: border-box;
    padding: 14px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 10px 50px rgb(28, 76, 156, 15%);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

nav.active {
    padding: 0 !important;
}

.top-bar {
    position: sticky;
    top: -30px;
    background-color: #fff !important;
    z-index: 9999999;
}

.nav-scroller.active {
    margin-top: 0;
}

.uni-title {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.uni-title.active {
    font-size: 0.8rem;
}

.journal-badge {
    display: inline-block;
    /* border: 1px solid; */
    padding: 7px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #A367B1;
    color: #fefefe;
}

html[data-bs-theme="dark"] .top-bar {
    background-color: var(--bs-body-bg) !important;
}

html[data-bs-theme="dark"] .nav {
    background-color: var(--bs-secondary-bg) !important;
}

@media screen and (max-width: 720px) {
    .top-bar header div {
        flex-direction: column !important;
    }

    .top-bar header div div {
        width: 100%;
        text-align: center !important;
    }

    .top-bar header div div:nth-child(2) {
        margin-top: 15px;
    }

    main.container div {
        width: 100%;
        margin: auto;
    }

    main.container div div {
        text-align: center !important;
        margin-top: 10px;
    }

    main a {
        margin-top: 20px;
    }
}